<div class="footer mt-5">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xs-4 col-sm-4 col-md-3 pt-5 center">
                <h3 class="text-white">Wheels and Rides</h3>
                <div class="mt-2 pb-4">
                    <a href="" style="color:grey !important"><i class="fa fa-facebook p-1"></i></a>
                    <a href="" style="color:grey !important"><i class="fa fa-twitter p-1"></i></a>
                    <a href="" style="color:grey !important"><i class="fa fa-instagram p-1"></i></a>
                </div>
            </div>
            <div class="col-xs-4 col-sm-4 col-md-3 pt-5 center">
                <h5 style="color:grey">Support</h5><br>
                <a href="#" class="footer-link">
                    <p>Contact</p>
                </a>
                <a href="#" class="footer-link">
                    <p>FAQ</p>
                </a>

            </div>
            <div class="col-xs-4 col-sm-4 col-md-3 pt-5 center">
                <h5 style="color:grey">About</h5><br>
                <a href="#" class="footer-link">
                    <p>About Us</p>
                </a>
                <a href="#" class="footer-link">
                    <p>Our Services</p>
                </a>
                <a href="#" class="footer-link">
                    <p>Our Team</p>
                </a>
            </div>
            <div class="col-xs-4 col-sm-4 col-md-3 pt-5 center">
                <h5 style="color:grey">Getting in touch is easy!</h5>
                <form>
                    <div class="form-group">
                        <input type="text" class="form-control" id="name" aria-describedby="name"
                            placeholder="Enter name">

                    </div>
                    <div class="form-group">

                        <input type="email" class="form-control" id="email" placeholder="Enter email">
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="row justify-content-center m-0" style="background-color: black">
    <p style="color:grey" class="p-1">&#169 Copyright 2020 Wheels and Rides</p>
</div>