<div class="container-fluid">
    <h2 class="mt-4" style="color: gray">{{title}}</h2><br>

    <div class="card">
        <div class="card-body">
            <!--Display sesion message succes or fail here-->

            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Sl no.</th>
                        <th scope="col">Name</th>
                        <th scope="col">Email</th>
                        <th scope="col">License</th>
                        <th scope="col">Verification status</th>
                    </tr>
                </thead>
                <tbody>

                </tbody>
            </table>
        </div>
    </div>

</div>