<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link rel='stylesheet' href='/stylesheets/animate.css' />
  <link href="https://fonts.googleapis.com/css?family=Poppins&display=swap" rel="stylesheet">
  <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
    integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
  <link rel='stylesheet' href='/stylesheets/jquery.datetimepicker.min.css'>
  <title>{{ title }}</title>
</head>

<body>
  {{> navbar }}

  {{{body}}}

  <br><br>
  {{> footer }}

  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
  <script>
    $(function () {
      $(document).scroll(function () {
        var $nav = $(".fixed-top");
        $nav.toggleClass('scrolled', $(this).scrollTop() > 50);
      });
    });
  </script>
  <script src="/assets/js/jquery.datetimepicker.full.min.js"></script>
  <script>
    $('#pickupdate').datetimepicker({
      timepicker: false,
      datepicker: true,
      format: 'Y-m-d',
      onShow: function (ct) {
        this.setOptions({
          maxDate: $('#dropdate').val() ? $('#dropdate').val() : false
        })
      }
    })
    $('#dropdate').datetimepicker({
      timepicker: false,
      datepicker: true,
      format: 'Y-m-d',
      onShow: function (ct) {
        this.setOptions({
          minDate: $('#pickupdate').val() ? $('#pickupdate').val() : false
        })
      }
    })
    $('#toggle1').on('click', function () {
      $('#pickupdate').datetimepicker('toggle')
    })
    $('#toggle2').on('click', function () {
      $('#dropdate').datetimepicker('toggle')
    })
  </script>
</body>

</html>